.c-hero {
    margin: 64px 0;

    &__title {
        text-align: center;
    }
}

.c-main {
    max-width: 960px;
    margin: 42px auto;
    padding: 0 4%;
    
    @include mq-up('md') {
        display: flex;
    }
}

.c-primary {

    box-sizing: border-box;

    @include mq-up('md') {
        flex-basis: calc(100% - #{$sidebar-width});
        padding-right: 3%;
    }
}

.c-sidebar {
    flex-basis: $sidebar-width;
    
    &__section {
        background: $white;
    
        padding: 24px;
    
        box-sizing: border-box;

        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }
}

.l-footer {
    width: 100%;
}

.c-pagetop {
    &__btn {
        display: block;

        position: relative;

        background: #ddd;

        padding: 32px 0 16px;

        text-decoration: none;
        text-align: center;
        color: $white;
        font-size: 14px;

        transition: background .2s;

        &:hover {
            background: #ccc;
        }

        &::before {
            content: '';

            display: block;

            position: absolute;
            top: 16px;
            right: 0;
            left: 0;
            
            width: 10px;
            height: 10px;
            
            margin: auto;

            border: solid $white;
            border-width: 1px 1px 0 0;

            transform: rotate(-45deg);
        }
    }
}

.c-footer {
    background: $dark-gray;

    padding: .7em 0;
    
    text-align: center;
    color: $white;
}

.c-copyright {
    font-size: 14px;
}

// mypage
.c-admin {
    &-wrap {
        align-items: center;
        display: flex;
        justify-content: center;

        min-height: 100vh;
    }

    background: $white;

    max-width: 320px;
    width: 100%;

    margin: 4%;
    padding: 4%;

    box-sizing: border-box;

    &--wide {
        max-width: 640px
    }

    &__title {
        width: 100%;
        
        line-height: 1.6;
        text-align: center;
        font-size: 20px;
    }
}