<?php include('./common/head.php'); ?>

<div class="c-admin-wrap">
    <div class="c-admin">
        <h2 class="c-admin__title">パスワード変更</h2>

        <form method="post" class="c-form">
            <label for="old_pass" class="c-form__label">
                現在のパスワード
                <input type="password" name="old_pass" id="old_pass" class="c-form__input">
            </label>

            <label for="new_pass" class="c-form__label">
                新しいパスワード
                <input type="password" name="new_pass" id="new_pass" class="c-form__input">
            </label>

            <label for="re_new_pass" class="c-form__label">
                新しいパスワード
                <input type="password" name="re_new_pass" id="re_new_pass" class="c-form__input">
            </label>

            <a href="/admin/passRemind.php" class="c-form__link">パスワードをお忘れの方</a>

            <input type="submit" value="変更" class="c-form__submit c-btn c-btn--blue">

            <a href="/admin/mypage.php" class="c-btn">戻る</a>
        </form>
    </div>
</div>

<?php include('./common/footer.php'); ?>