<?php include('./common/head.php'); ?>

<div class="c-admin-wrap">
    <div class="c-admin">
        <h2 class="c-admin__title">マイページ</h2>

        <div class="c-myself">
            <div class="c-myself__image">
                <img src="/images/default.jpg" alt="" class="c-myself__thumb">
            </div>
            <div class="c-myself__contents">
                <p class="c-myself__text">名前：xxx xxxxx</p>
                <p class="c-myself__text">メールアドレス：xxxx@xxxxxx.xx.xx</p>
            </div>

            <a href="/admin/mypage.php" class="c-myself__link c-btn">戻る</a>
            <a href="/admin/mypage.php" class="c-myself__link c-btn c-btn--green">編集</a>
        </div>
    </div>
</div>

<?php include('./common/footer.php'); ?>