<?php include('./common/head.php'); ?>

<h1>SITE TITLE</h1>

<div class="c-primary">
    <div class="c-post">
        <div class="c-post__heading">
            <h2 class="c-post__title">ブログのタイトルがここに入ります。</h2>
            <p class="c-post__date">2019/12/31</p>
            <p class="c-post__category">カテゴリ１ / カテゴリ２ / カテゴリ３</p>
        </div>

        <div class="c-post__contents">
            <div class="c-post__images">
                <img src="/images/default.jpg" alt="" class="c-post__thumb">
                <i class="c-post__icon c-post__icon--prev"><</i>
                <i class="c-post__icon c-post__icon--next">></i>
            </div>

            <p class="c-post__text">
                ブログ本文がここに入ります。
            </p>
        </div>
    </div>
</div>

<?php include('./common/sidebar.php'); ?>

<?php include('./common/footer.php'); ?>