<?php include('./common/head.php'); ?>

<div class="c-hero">
    <h1 class="c-hero__title">SITE TITLE</h1>
</div>

<div class="c-main">
    <div class="c-primary c-form">
        <h2 class="c-form__title">お問い合わせ</h2>

        <form method="post" class="c-form">
            <label for="name" class="c-form__label">
                名前
                <input type="text" name="name" id="name" class="c-form__input c-input">
            </label>
            
            <label for="email" class="c-form__label">
                メールアドレス
                <input type="text" name="email" id="email" class="c-form__input c-input">
            </label>

            <label for="subject" class="c-form__label">
                件名
                <input type="text" name="subject" id="subject" class="c-form__input c-input">
            </label>

            <label for="comment" class="c-form__label">
                本文
                <textarea name="comment" id="comment" class="c-form__input c-form__textarea c-input"></textarea>
            </label>

            <input type="submit" value="送信" class="c-form__submit">
        </form>
    </div>

    <?php include('./common/sidebar.php'); ?>
</div>

<?php include('./common/footer.php'); ?>