.c-post {
    background: $white;

    margin-bottom: 1em;
    padding: 32px;

    &__heading {
        margin-bottom: 1em;

        line-height: 1.6;
        
        border-bottom: 1px solid $dark-gray;
    }

    &__title {
        color: $primary-color;
        font-size: 18px;
        font-weight:  bold;
    }

    &__date {
        font-size: 14px;
    }

    &__category {
        background: $secondary-color;

        padding: 4px 6px;

        color: $white;
        font-size: 10px;

        border-radius: 6px;
    }

    &__contents {}
    &__text {
        line-height: 1.4;
        font-size: 14px;
        
        &--pre {
            white-space: pre-wrap;
        }
    }
    &__more {}

    &__images {
        position: relative;

        margin-bottom: 14px;
    }

    &__thumb {}
}

/* bxslider */
.bx-wrapper {
    border: none;
}
.js-bxslider {
    display: flex;
    align-items: center;
}